<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="CM_Master.master.cs" Inherits="CMSpaceship.CM_Master" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>

</body>
</html>
